<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lost Cat Pittsburgh</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link href="../css/styles.css" rel="stylesheet"/>
  <link href="../css/mystyles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" a:href="index.html">Lost Cat Pittsburgh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" a href="index.html">Home</a></li>
        <li class="nav-item"><a class="nav-link" a href="index2.html">Create Lost Cat Profile</a></li>
        <li class="nav-item"><a class="nav-link" a href="registertips.html">7 Tips On Finding Lost Cat</a></li>
          <li class="nav-item"><a class="nav-link" a href="https://www.facebook.com/groups/323826539285541">FaceBook Page</a></li>
          <li class="nav-item"><a class="nav-link" a href="registercat.html">Login</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="container">
  <div class="raw">
    <div class="col">
    </div>
      <div class="container">
        <div class="raw">
          <div class="col">
          </div>
            <h3><b>Having a pet get out and get lost is one of a cat parent’s worst nightmares. If your cat becomes lost, act fast and don’t give up your search.</b></h3>
                <img src ="cat-and-dog-clip-art-borders-paw-prints-border-divider-royalty-free-stock-images-image-pictures.jpg" alt="Paws" class="responsive">
<p>1. TALK TO YOUR NEIGHBORS When you’re out searching for your cat, this is no time to be shy! Knock on your neighbors’ doors and ask them if you can search around their yards for your cat. Also, show them a photo of your kitty and leave your contact information so they can contact you if they happen to see a cat that they think may be yours.
          </p><br>
          <p>2. PUT FRESH FOOD & WATER OUTSIDE, AND  DIRTY LITTER BOX
          Leave fresh food and water outside on your porch or under a sheltered area by your house. Leave some of your own belongings, like a stinky t-shirt and old tennis shoes there as well – something that will have a familiar scent. If your cat is indoors-only and has escaped outside, he or she may be fearful and the sights and sounds from the great outdoors could be disorienting. Something with a strong scent – like a dirty litter box – will help your cat identify and find her way home.
</p><br>
          <p>3. DON’T CHASE!
          If you happen to spot your cat while you’re out searching, whatever you do – don’t chase after her! She’s most likely scared and will run if you chase after her. Instead, bring a bag of high-reward meaty treats with you and call softly to her. If your cat stops to look at you, drop to a kneeling position, don’t look her in the eyes, and stretch your hand out. Using your calmest voice, call out to her. If you’re lucky, your cat will sometimes come right to you.
</p><br>
          <p>4. IF YOU HAVE RECENTLY MOVED, CHECK YOUR OLD NEIGHBORHOOD
          Many cats go missing after a move, and a large percentage of them attempt to return to their old territory. Cats actually have a “homing instinct”, and it can be disrupted after a move. So, If you’re within 10 miles of your old residence and your cat goes missing, see if he or she has gone back there.
          </p><br>
          <p>5. MAKE “LOST CAT” SIGNS

          Make “lost cat” signs with a recent, clear photo of your cat and the best phone numbers to reach you. It would help to include a reward as an incentive, but it’s not necessary. Place the signs on mailboxes around your neighborhood (only on the outside – it’s against the law to put them inside!), on bulletin boards, in local veterinary offices, pet stores, and inside local restaurants with permission. Also, it’s a good idea to use laminating sheets to protect your signs. Especially if they will be exposed to any rain or snow to keep them from getting damaged.
</p><br>
          <p>6. VISIT YOUR LOCAL SHELTER AND COUNTY ANIMAL CONTROL

          Don’t just call the shelters, and don’t expect the very busy shelter staff to be able to properly identify your cat or to call you. Visit the shelters every two to three days!
          </p><br>

          <p>7. USE CLASSIFIED WEBSITES AND SOCIAL MEDIA
          Place a classified ad on your local website.
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="../js/scripts.js"></script>
</body>
</html>
</h1>
    <br>
    <h1></h1><a href= "mailto: theredshoes33@gmail.com?subject=Web Page Email&body=This email
is from your website" >
    Email Me</h1></a>
  </div>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="../js/scripts.js"></script>
</body>
</html>
